body {
    margin: 0;
    font-family: 'Playfair Display', serif;
}

.overall-page {
    position: relative;
    width: 100vw;
    max-width: 100%;
}

.main-product-page {
    width: 80vw;
    height: 400vh;
}

/* ******** header-section-start ********  */

.header-section {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 42.5vh;
    position: relative;
}

.header-img {
    width: 100%;
    height: 30vh;
    object-fit: cover;
}

.header-text-bar {
    width: 100%;
    height: 12.5vh;
    background-color: rgb(247, 245, 242);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.titel-div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin-left: 32px;
}

.titel-div h2 {
    color: rgb(7, 2, 29);
    margin: 0;
}

.titel-div p {
    color: rgb(7, 2, 29);
    margin: 0;
}

.icon-div {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 32px;
}

.information-Btn {
    height: 48px;
    width: 48px;
    border: 1px solid black;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(247, 245, 242);
}

.information-Btn {
    font-size: 32px;
    font-weight: 300;
}

.information-Btn:hover {
    background-color: rgb(255, 255, 255);
    cursor: pointer;
}

.logo-div {
    position: absolute;
    height: 15vh;
    width: 10vw;
    border-radius: 100%;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    left: 35vw;
    bottom: 4.75vh;
}

.logo {
    height: 72px;
    width: 40px;
    object-fit: cover;
}

/* ******** Header-Section-End ********  */

/* ******** Order-Section-Start ********  */

.order-section {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.order-Category-div {
    height: 10vh;
    width: 100%;
    background-color: rgb(236, 232, 225);
    display: flex;
    align-items: center;
    justify-content: center;
}

.order-Category-div a {
    margin-right: 8px;
    margin-left: 8px;
    text-decoration: none;
    color: rgb(7, 2, 29);
    font-size: 16px;
}

.order-Category-div a:hover {
    color: rgba(7, 2, 29, 0.7);
}

.magnifying-glass-img {
    height: 20px;
    width: 20px;
    object-fit: cover;
    margin-left: 32px;
}

.arrow-img {
    height: 16px;
    width: 16px;
    object-fit: cover;
    margin-right: 32px;
}

.menu-div {
    width: calc(100% - 64px);
}

.dish-category-div {
    width: 100%;
    height: 10vh;
    margin-top: 16px;
    background-color: rgb(236, 232, 225);
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border-radius: 5px;
}

.dish-category-div h3 {
    margin-left: 16px;
}

.dish-div {
    position: relative;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    border: 1px solid rgb(217, 217, 221);
    margin-top: 16px;
    border-radius: 5px;
    cursor: pointer;
}
.dish-div:hover {
    background-color: rgb(238, 238, 245);
}

.dish-div-title-div {
    margin-top: 8px;
    margin-left: 16px;
}

.dish-div-title-div h3 {
    color: rgb(7, 2, 29);
    font-size: 28px;
    font-weight: 500;
    margin: unset;
}

.dish-div-description-div {
    margin-top: 16px;
    margin-left: 16px;
}

.dish-div-description-div p {
    color: rgb(75, 75, 77);
    font-size: 16px;
    font-weight: 300;
    margin: unset;
}

.dish-div-variation-div {
    margin-top: 4px;
    margin-left: 16px;
}

.dish-div-variation-div p {
    color: rgb(75, 75, 77);
    font-size: 12px;
    font-weight: 100;
    margin: unset;
}

.dish-div-price-div {
    margin-top: 32px;
    margin-left: 16px;
    margin-bottom: 8px;
}

.dish-div-price-div p {
    font-size: 32px;
    font-weight: 100;
    color: orange;
    margin: unset;
}

.dish-div-btn-div {
    position: absolute;
    right: 0;
    top: 0;
    height: 48px;
    width: 48px;
    border: 1px solid rgb(217, 217, 221);
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: transparent;
    border-right: transparent;
    z-index: 3;
}

.plus-img {
    height: 32px;
    width: 32px;
}

/* ******** Order-Section-End ********  */

/* ******** Footer-Section-Start ********  */

.footer-section {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    height: 20vh;
    width: 100vw;
    max-width: 100%;
    background-color: rgb(7, 2, 29); ;
    z-index: 3;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footer-section div {
    display: flex;
    margin: 8px;
}

.footer-section a {
    color: white;
    text-decoration: none;
    font-size: 16px;
    margin-left: 8px;
    margin-right: 8px;
}

.footer-section a:hover {
color: rgba(255,255,255,0.7);
}

/* ******** Footer-Section-End ********  */